
/*Slider Carousel*/

.slider{
  padding-top:1em;
  max-width:600px;
  margin: auto;
  position:relative;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.image{
  display:inline-flex;
  position:relative;
  margin-bottom:2em;
  min-width:270px;
  height:300px;
  border-radius:10px;
}
.right-arrow{
  position:absolute;
  top:50%;
  right: 5%;
  width: 45px;
  height: 45px;
  transform: translateY(-30%);
  font-size:3rem;
  color:rgb(255, 255, 255);
  z-index:10;
  cursor:pointer;
  opacity:0.3;
  }
.left-arrow{
  position:absolute;
  top:50%;
  left:5%;
  width:45px;
  height: 45px;
  transform: translateY(-30%);  
  font-size:3rem;
  color:rgb(255, 255, 255);
  z-index:10;
  cursor:pointer;
  opacity:0.3;
} 
.slide{
  opacity:0;
  transition-duration: 3s ease-in-out;
  transform:translateZ(100px);
}
.slider, .active{
  opacity:1;
  transition-duration:1.8s;
  transform:scale(1.1);
}
.left-arrow:hover, .right-arrow:hover{
  transition-duration:1.8s;
  color:gold;
  animation:linear 30s;
  opacity:1;
}